ENVIRONMENT=production
JOB_RETENTION_HOURS=<REQUIRED_APPROVED_HOURS>
PURGE_BATCH_LIMIT=1000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=capsolve
DB_USER=capsolve_purge
DB_PASSWORD=<REQUIRED_PURGE_DB_PASSWORD>
DB_CONNECT_TIMEOUT=3
