ENVIRONMENT=production
JOB_BATCH_LIMIT=5
JOB_MAX_ATTEMPTS=3
JOB_RESET_STALE_MINUTES=30
JOB_RETENTION_HOURS=<REQUIRED_APPROVED_HOURS>
GLOBAL_CHROME_SLOTS=1
DB_HOST=localhost
DB_PORT=5432
DB_NAME=capsolve
DB_USER=capsolve_worker
DB_PASSWORD=<REQUIRED_WORKER_DB_PASSWORD>
DB_CONNECT_TIMEOUT=3
DISPLAY=:99
ENABLE_XVFB_VIRTUAL_DISPLAY=false
TS_PROFILE_DIR=/var/lib/capsolve-worker/profiles
HOME=/var/lib/capsolve-worker
SOLVER_TIMEOUT=45
LOCAL_POST_TIMEOUT=30
LOCAL_POST_URL=<REQUIRED_FALLBACK_LOCAL_POST_URL>
TURNSTILE_SITEURL=<REQUIRED_FALLBACK_TURNSTILE_SITEURL>
TURNSTILE_SITEKEY=<REQUIRED_FALLBACK_TURNSTILE_SITEKEY>
BUDI95_AUTO_RESOLVE=true
BUDI95_CONFIG_URL=https://www.budirakyat.gov.my/eligibility-check
BUDI95_CONFIG_CACHE_SECONDS=1800
BUDI95_CONFIG_FETCH_TIMEOUT=10
BUDI95_FORCE_ENV_CONFIG=false
BUDI95_CONFIG_CACHE_FILE=/var/lib/capsolve-worker/budi95-config.json
